.App, .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex: 1;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.form-padrao {
    display: flex;
    flex-direction: column;
    Border: 5px solid #3E7C83;
    padding: 10px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #ECECEC;
}

.erro {
  color: red;
  text-align: "center"; 
}